body {
    background-color: #ffeef2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif; /* Police ronde */
}

.strawberry-card {
    background: white;
    padding: 40px;
    border-radius: 50px; 
    box-shadow: 0 15px 0 #ffcad4; 
    border: 8px solid #ff8fa3;
    text-align: center;
    position: relative;
    width: 300px;
}


.leaf {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 40px;
    background: #74c69d;
    border-radius: 50% 50% 10% 10%;
    border: 5px solid #40916c;
}

h1 {
    color: #ff4d6d;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#timer {
    font-size: 4.5rem;
    color: #ff758f;
    text-shadow: 2px 2px 0px #fff, 4px 4px 0px #ffcad4;
    margin: 20px 0;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background: #ffb3c1;
    border: none;
    padding: 12px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
    border-bottom: 4px solid #ff8fa3;
}

button:hover {
    background: #ff8fa3;
    transform: scale(1.05);
}

button:active {
    transform: translateY(4px);
    border-bottom: none;
}

button span {
    margin-right: 8px;
}